@keyframes earthOrbit {
  0% {
    transform: translate(0em, 50%) rotate(0deg);
  }
  100% {
    transform: translate(0em, 50%) rotate(360deg);
  }
}

#earthOrbit {
  animation: earthOrbit 31.5s linear 0s infinite;
  background-color: transparent;
  /* border: 2px dotted rgba(0, 255, 0, 0.5); */
  border-radius: 50%;
  width: 115em;
  height: 115em;
  position: absolute;
  bottom: 0;
  transform: translate(0em, 50%);
}

@keyframes earth {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#earth {
  animation: earth 0.86s linear 0s infinite;
  width: 10em;
  height: 10em;
  transform: translate(0%, 50px);
  z-index: 1;
}

#earthShadowBox {
  transform: translate(0em, -50%);
  width: 10em;
  height: 10em;
  justify-content: center;
}

#earthShadow {
  z-index: 2;
  width: 10em;
  height: 10em;
  position: absolute;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.2),
    rgba(0, 0, 0, 0.75),
    black
  );
  box-shadow: 0em 0.1em 0.3em 0.2em rgb(0, 0, 0);
  border-radius: 50%;
}

@keyframes moonOrbit {
  0% {
    transform: translate(0em, -50%) rotate(0deg);
  }
  100% {
    transform: translate(0em, -50%) rotate(360deg);
  }
}

#moonOrbit {
  animation: moonOrbit 2s linear 0s infinite;
  background-color: transparent;
  /* border: 2px dotted rgba(122, 0, 128, 0.5); */
  border-radius: 50%;
  width: 20em;
  height: 20em;
  position: absolute;
  top: 0;
  transform: translate(0em, -50%);
}

#moon {
  width: 3em;
  height: 3em;
  z-index: 1;
}

#moonShadowBox {
  transform: translate(0em, -50%);
  width: 3em;
  height: 3em;
  justify-content: center;
}

@keyframes moonShadow {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

#moonShadow {
  animation: moonShadow 2s linear 0s infinite;
  z-index: 2;
  width: 3em;
  height: 3em;
  position: absolute;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.2),
    rgba(0, 0, 0, 0.75),
    black
  );
  box-shadow: 0em 0.1em 0.3em 0.2em rgb(0, 0, 0);
  border-radius: 50%;
}
