@keyframes jupiterOrbit {
  0% {
    transform: translate(0rem, 50%) rotate(-20deg);
  }
  100% {
    transform: translate(0rem, 50%) rotate(340deg);
  }
}

#jupiterOrbit {
  /* animation: jupiterOrbit 378.6s linear 0s infinite; */
  background-color: transparent;
  border-radius: 50%;
  width: 195rem;
  height: 195rem;
  position: absolute;
  bottom: 0;
  transform: translate(0rem, 50%);
}

.jupiterOrbitBorder {
  border: 0.275rem dotted rgba(24, 222, 202, 0.5);
}

@keyframes jupiter {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#jupiter {
  animation: jupiter 0.36s linear 0s infinite;
  width: 20rem;
  height: 20rem;
  transform: translate(0%, 50px);
  z-index: 1;
}

#jupiterShadowBox {
  transform: translate(0rem, -50%);
  width: 20rem;
  height: 20rem;
  justify-content: center;
}

#jupiterShadow {
  cursor: pointer;
  z-index: 2;
  width: 20rem;
  height: 20rem;
  position: absolute;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.2),
    rgba(0, 0, 0, 0.75),
    black
  );
  box-shadow: 0rem 0.1rem 0.3rem 0.2rem rgb(0, 0, 0);
  border-radius: 50%;
}
