@keyframes marsOrbit {
  0% {
    transform: translate(0em, 50%) rotate(-45deg);
  }
  100% {
    transform: translate(0em, 50%) rotate(315deg);
  }
}

#marsOrbit {
  animation: marsOrbit 59s linear 0s infinite;
  background-color: transparent;
  /* border: 2px dotted rgba(222, 116, 24, 0.5); */
  border-radius: 50%;
  width: 156em;
  height: 156em;
  position: absolute;
  bottom: 0;
  transform: translate(0em, 50%);
}

@keyframes mars {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#mars {
  animation: mars 0.88s linear 0s infinite;
  width: 5.3em;
  height: 5.3em;
  transform: translate(0%, 50px);
  z-index: 1;
}

#marsShadowBox {
  transform: translate(0em, -50%);
  width: 5.3em;
  height: 5.3em;
  justify-content: center;
}

#marsShadow {
  z-index: 2;
  width: 5.3em;
  height: 5.3em;
  position: absolute;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.2),
    rgba(0, 0, 0, 0.75),
    black
  );
  box-shadow: 0em 0.1em 0.3em 0.2em rgb(0, 0, 0);
  border-radius: 50%;
}
