@keyframes mercuryOrbit {
  0% {
    transform: translate(0em, 50%) rotate(-80deg);
  }
  100% {
    transform: translate(0em, 50%) rotate(280deg);
  }
}

#mercuryOrbit {
  animation: mercuryOrbit 7.6s linear 0s infinite;
  background-color: transparent;
  /* border: 2px dotted rgba(255, 0, 0, 0.5); */
  border-radius: 50%;
  width: 62em;
  height: 62em;
  position: absolute;
  bottom: 0;
  transform: translate(0em, 50%);
}

@keyframes mercury {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#mercury {
  animation: mercury 50.5s linear 0s infinite;
  width: 3.8em;
  height: 3.8em;
  z-index: 1;
}

#mercuryShadowBox {
  transform: translate(0em, -50%);
  width: 3.8em;
  height: 3.8em;
  justify-content: center;
}

#mercuryShadow {
  z-index: 2;
  width: 3.8em;
  height: 3.8em;
  position: absolute;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.2),
    rgba(0, 0, 0, 0.75),
    black
  );
  box-shadow: 0em 0.1em 0.3em 0.2em rgb(0, 0, 0);
  border-radius: 50%;
}
