@keyframes mercuryOrbit {
  0% {
    transform: translate(0rem, 50%) rotate(-80deg);
  }
  100% {
    transform: translate(0rem, 50%) rotate(280deg);
  }
}

#mercuryOrbit {
  animation: mercuryOrbit 7.6s linear 0s infinite;
  background-color: transparent;
  border-radius: 50%;
  width: 62rem;
  height: 62rem;
  position: absolute;
  bottom: 0;
  transform: translate(0rem, 50%);
}

.mercuryOrbitBorder {
  border: 0.275rem dotted rgba(255, 0, 0, 0.5);
}

@keyframes mercury {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#mercury {
  animation: mercury 50.5s linear 0s infinite;
  width: 3.8rem;
  height: 3.8rem;
  z-index: 1;
}

#mercuryShadowBox {
  transform: translate(0rem, -50%);
  width: 3.8rem;
  height: 3.8rem;
  justify-content: center;
}

#mercuryShadow {
  cursor: pointer;
  z-index: 2;
  width: 3.8rem;
  height: 3.8rem;
  position: absolute;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.2),
    rgba(0, 0, 0, 0.75),
    black
  );
  box-shadow: 0rem 0.1rem 0.3rem 0.2rem rgb(0, 0, 0);
  border-radius: 50%;
}
