#planetaryInfoPanel {
  position: absolute;
  border: 0.05em solid #afeeee;
  border-radius: 3em;
  width: 100em;
  height: 60em;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: 1s;
}

#planetaryInfoTitle {
  color: #afeeee;
  font-size: 5em;
  margin: 1em 0em auto 0em;
  letter-spacing: 0.1em;
}

#planetaryFactsUl {
  margin: 0em 0em auto 0em;
}

.planetFact {
  color: white;
  font-size: 2.25em;
  margin: 1em 0em;
}

#planetaryFactsImage {
  position: absolute;
  width: 20em;
  height: auto;
  top: 0;
  left: 0;
  transform: translate(3.5em, 3.5em);
}

.planetFactSpan {
  margin: 0em 0em 0em 2em;
}
