#planetaryInfoPanel {
  position: absolute;
  border: 0.2rem solid #afeeee;
  border-radius: 3rem;
  width: 100rem;
  height: 60rem;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  overflow: hidden;
  transition-duration: 1s;
}

#planetaryInfoContainer {
  z-index: 3;
}

#planetSurface {
  position: absolute;
  opacity: 0.15;
  min-height: 65rem;
  width: auto;
}

#planetaryInfoTitle {
  color: #afeeee;
  font-size: 6rem;
  margin: 0rem 0rem 9rem 0rem;
  letter-spacing: 0.6rem;
}

#planetaryFactsUl {
  margin: 5rem 0rem 0rem 5rem;
}

.planetFact {
  color: white;
  font-size: 2.25rem;
  margin: 4.5rem 0rem;
}

#planetaryFactsImage {
  position: absolute;
  width: 45rem;
  height: auto;
  top: 0;
  right: 0;
  transform: translate(-3.5rem, 3.5rem);
}

.planetFactSpan {
  margin: 0rem 0rem 0rem 2rem;
  color: #35d4d4;
}
