#quizPanel {
  position: absolute;
  border: 0.05em solid #afeeee;
  border-radius: 3em;
  width: 100em;
  height: 60em;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: 1s;
}

#tableOfContents {
  width: 100%;
  height: 100%;
}

#quizContentsTitle {
  color: white;
  font-size: 5em;
  margin: 1em 0em 0.5em 0em;
  letter-spacing: 0.1em;
  color: #78e2e2;
}

#quizContentsList {
  color: #afeeee;
  font-size: 2.5em;
  font-weight: 100;
}

#quizContentsList li {
  margin: 1.5em 0em;
}

#backButton,
#nextButton {
  border-radius: 50%;
  width: 5em;
  height: 5em;
  cursor: pointer;
  background-color: transparent;
  border-top: 0.2em solid #afeeee;
  border-left: 0.2em solid #afeeee;
  border-right: 0.2em solid rgba(255, 255, 255, 0.5);
  border-bottom: 0.2em solid rgba(255, 255, 255, 0.5);
  overflow: hidden;
  transition-duration: 1s;
}

#backButtonDiv {
  position: absolute;
  transform: translate(-44em, 24em);
}

#nextButtonDiv {
  position: absolute;
  transform: translate(44em, 24em);
}

.buttonMask {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  border-radius: 50%;
}

#backButton:disabled,
#nextButton:disabled {
  opacity: 0.5;
  cursor: default;
}

#backRocket,
#nextRocket {
  width: 65%;
  height: auto;
}

#backRocket {
  transform: scaleX(-1);
}

@keyframes backSpin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes backRocketSpin {
  0% {
    transform: scaleX(-1) rotate(0deg);
  }
  100% {
    transform: scaleX(-1) rotate(-360deg);
  }
}

@keyframes nextSpin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes nextRocketSpin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.backSpin {
  animation: backSpin 1.2s ease-out 0s 1;
}

.backRocketSpin {
  animation: backRocketSpin 1.2s ease-out 0s 1;
}

.nextSpin {
  animation: nextSpin 1.2s ease-out 0s 1;
}

.nextRocketSpin {
  animation: nextRocketSpin 1.2s ease-out 0s 1;
}

#questionPanel {
  width: 100%;
  height: 100%;
  transition-duration: 0.5s;
}

.questionPanelShrink {
  transform: scale(0);
  opacity: 0;
}

#questionTitleContainer {
  width: 80%;
  text-align: center;
}

#questionTitle {
  color: white;
  font-size: 2em;
  margin: 2em 0em 0em 0em;
  letter-spacing: 0.1em;
  line-height: 1.6em;
  color: #78e2e2;
}

#answerButtonsDiv {
  width: 70%;
  height: 55%;
  margin: auto 0em;
  justify-content: space-between;
}

.answerButtonsRow {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.answerButton {
  font-size: 2em;
  line-height: 1.25em;
  padding: 0.5em 1em;
  font-weight: 300;
  width: 15em;
  height: 7em;
  border-radius: 1em;
  border: 0.05em solid rgba(255, 255, 255, 0.5);
  background-color: transparent;
  color: #78e2e2;
  cursor: pointer;
  transition-duration: 0.5s;
  letter-spacing: 0.1em;
  overflow: hidden;
  position: relative;
  text-align: center;
}

.answerButton:enabled:hover {
  border: 0.05em solid #afeeee;
}

.answerButton:disabled {
  cursor: default;
}

@keyframes answerRipple {
  0% {
    opacity: 0.3;
    width: 0em;
    height: 0em;
  }
  100% {
    opacity: 0;
    width: 45em;
    height: 45em;
  }
}

.answerRripple {
  animation: answerRipple 1s linear 0s 1;
  position: absolute;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: #fff;
}

.wrongNotSelected {
  border: 0.05em solid #e27878;
  color: #d43535;
}

.correctNotSelected {
  border: 0.05em solid #78e27f;
  color: #35d440;
}

.wrongSelected {
  border: 0.2em double #e27878;
  color: #d43535;
  background-color: #eeafaf25;
}

.correctSelected {
  border: 0.2em double #78e27f;
  color: #35d440;
  background-color: #afeeb925;
}

#currentScore {
  color: #afeeee;
  margin: auto 0em 0em 0em;
  font-size: 1.75em;
}

#currentQuestion {
  color: #afeeee;
  margin: 1em 0em 1.25em 0em;
  font-size: 1.25em;
}

#completionDiv {
  width: 100%;
  height: 100%;
}

#congrats {
  color: #afeeee;
  font-size: 4.5em;
  letter-spacing: 0.1em;
  margin: 1.5em 0em;
}

.finalMiddleLines {
  color: #afeeee;
  font-size: 2em;
}

#finalTitle {
  color: #209797;
  font-size: 4em;
  font-weight: 500;
  letter-spacing: 0.2em;
  margin: auto 0em;
}

.finalNumbers {
  color: #209797;
}
