#quizPanel {
  position: absolute;
  border: 0.05rem solid #afeeee;
  border-radius: 3rem;
  width: 100rem;
  height: 60rem;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: 1s;
}

#tableOfContents {
  width: 100%;
  height: 100%;
}

#quizContentsTitle {
  color: white;
  font-size: 5rem;
  margin: 5rem 0rem 2.5rem 0rem;
  letter-spacing: 0.5rem;
  color: #78e2e2;
}

#quizContentsList {
  color: #afeeee;
  font-size: 2.5rem;
  font-weight: 100;
}

#quizContentsList li {
  margin: 3.75rem 0rem;
}

#backButton,
#nextButton {
  border-radius: 50%;
  width: 7rem;
  height: 7rem;
  cursor: pointer;
  background-color: transparent;
  border-top: 0.2rem solid #afeeee;
  border-left: 0.2rem solid #afeeee;
  border-right: 0.2rem solid rgba(255, 255, 255, 0.5);
  border-bottom: 0.2rem solid rgba(255, 255, 255, 0.5);
  overflow: hidden;
  transition-duration: 1s;
}

#backButtonDiv {
  position: absolute;
  transform: translate(-44rem, 24rem);
}

#nextButtonDiv {
  position: absolute;
  transform: translate(44rem, 24rem);
}

.buttonMask {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  border-radius: 50%;
}

#backButton:disabled,
#nextButton:disabled {
  opacity: 0.5;
  cursor: default;
}

#backRocket,
#nextRocket {
  width: 3rem;
  height: auto;
}

#backRocket {
  transform: scaleX(-1);
}

@keyframes backSpin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes backRocketSpin {
  0% {
    transform: scaleX(-1) rotate(0deg);
  }
  100% {
    transform: scaleX(-1) rotate(-360deg);
  }
}

@keyframes nextSpin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes nextRocketSpin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.backSpin {
  animation: backSpin 1.2s ease-out 0s 1;
}

.backRocketSpin {
  animation: backRocketSpin 1.2s ease-out 0s 1;
}

.nextSpin {
  animation: nextSpin 1.2s ease-out 0s 1;
}

.nextRocketSpin {
  animation: nextRocketSpin 1.2s ease-out 0s 1;
}

#questionPanel {
  width: 100%;
  height: 100%;
  transition-duration: 0.5s;
}

.questionPanelShrink {
  transform: scale(0);
  opacity: 0;
}

#questionTitleContainer {
  width: 80%;
  text-align: center;
}

#questionTitle {
  color: white;
  font-size: 2rem;
  margin: 4rem 0rem 0rem 0rem;
  letter-spacing: 0.2rem;
  line-height: 3.2rem;
  color: #78e2e2;
}

#answerButtonsDiv {
  width: 70%;
  height: 55%;
  margin: auto 0rem;
  justify-content: space-between;
}

.answerButtonsRow {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.answerButton {
  font-size: 2rem;
  line-height: 2.5rem;
  padding: 1rem 2rem;
  font-weight: 300;
  width: 30rem;
  height: 14rem;
  border-radius: 2rem;
  border: 0.1rem solid rgba(255, 255, 255, 0.5);
  background-color: transparent;
  color: #78e2e2;
  cursor: pointer;
  transition-duration: 0.5s;
  letter-spacing: 0.2rem;
  overflow: hidden;
  position: relative;
  text-align: center;
}

.answerButton:disabled {
  cursor: default;
}

@keyframes answerRipple {
  0% {
    opacity: 0.3;
    width: 0rem;
    height: 0rem;
  }
  100% {
    opacity: 0;
    width: 75rem;
    height: 75rem;
  }
}

.answerRripple {
  animation: answerRipple 1s linear 0s 1;
  position: absolute;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: #fff;
}

.wrongNotSelected {
  border: 0.05rem solid #e27878;
  color: #d43535;
}

.correctNotSelected {
  border: 0.05rem solid #78e27f;
  color: #35d440;
}

.wrongSelected {
  border: 0.2rem double #e27878;
  color: #d43535;
  background-color: #eeafaf25;
}

.correctSelected {
  border: 0.2rem double #78e27f;
  color: #35d440;
  background-color: #afeeb925;
}

#currentScore {
  color: #afeeee;
  font-size: 1.75rem;
  margin: auto 0rem 0rem 0rem;
}

#currentQuestion {
  color: #afeeee;
  font-size: 1.25rem;
  margin: 1rem 0rem 1.25rem 0rem;
}

#completionDiv {
  width: 100%;
  height: 100%;
}

#congrats {
  color: #afeeee;
  font-size: 4.5rem;
  letter-spacing: 0.45rem;
  margin: 6.75rem 0rem;
}

.finalMiddleLines {
  color: #afeeee;
  font-size: 2rem;
}

#finalTitle {
  color: #209797;
  font-size: 4rem;
  font-weight: 500;
  letter-spacing: 0.8rem;
  margin: auto 0rem;
}

.finalNumbers {
  color: #209797;
}

@media (min-width: 450px) and (min-height: 450px) {
  .answerButton:enabled:hover {
    border: 0.05rem solid #afeeee;
  }
}
