#sunBox {
  transform: translate(0rem, 50%);
  position: absolute;
  bottom: 0;
  z-index: 0;
  justify-content: center;
}

@keyframes sun {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#sun {
  animation: sun 21.6s linear 0s infinite;
  width: 70rem;
  height: auto;
}

#sunClickBox {
  position: absolute;
  z-index: 15;
  width: 52rem;
  height: 52rem;
  border-radius: 50%;
}

#mercuryClickBox {
  position: absolute;
  z-index: 15;
  width: 62.5rem;
  height: 62.5rem;
  border-radius: 50%;
}

#venusClickBox {
  position: absolute;
  z-index: 15;
  width: 79.5rem;
  height: 79.5rem;
  border-radius: 50%;
}
