@keyframes venusOrbit {
  0% {
    transform: translate(0rem, 50%) rotate(-220deg);
  }
  100% {
    transform: translate(0rem, 50%) rotate(140deg);
  }
}

#venusOrbit {
  animation: venusOrbit 19s linear 0s infinite;
  background-color: transparent;
  border-radius: 50%;
  width: 79rem;
  height: 79rem;
  position: absolute;
  bottom: 0;
  transform: translate(0rem, 50%);
}

.venusOrbitBorder {
  border: 0.275rem dotted #f5c73c80;
}

@keyframes venus {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

#venus {
  animation: venus 209.9s linear 0s infinite;
  width: 9.5rem;
  height: 9.5rem;
  z-index: 1;
}

#venusShadowBox {
  transform: translate(0rem, -50%);
  width: 9.5rem;
  height: 9.5rem;
  justify-content: center;
}

#venusShadow {
  cursor: pointer;
  z-index: 2;
  width: 9.5rem;
  height: 9.5rem;
  position: absolute;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.2),
    rgba(0, 0, 0, 0.75),
    black
  );
  box-shadow: 0rem 0.1rem 0.3rem 0.2rem rgb(0, 0, 0);
  border-radius: 50%;
}
