html,
body {
  margin: 0;
}

* {
  font-family: 'Roboto', sans-serif;
}

.FCAIC {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.opacityHide {
  opacity: 0;
}

.opacityShow {
  opacity: 1;
}

.panelHide {
  opacity: 0;
  transform: scale(0) translate(0em, 22em);
}

.panelShow {
  opacity: 1;
  transform: scale(1) translate(0em, 22em);
}
