html,
body {
  margin: 0;
}

* {
  font-family: 'Roboto', sans-serif;
}

.FCAIC {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.opacityHide {
  opacity: 0;
}

.opacityShow {
  opacity: 1;
}
